/* ===== MAIN APP STRUCTURE ===== */
.App {

  display: flex;
  overflow: hidden;
  background-color: var(--background-light);
}

.Content {
  flex-grow: 1;
  background-color: var(--background-light);
  /* margin-top: 60px; */
  /* padding: 20px; */
  margin-bottom: 0 !important;
}
