.App {
  width: 100vw;
  display: flex;
  overflow: hidden; /* Prevent unnecessary scrollbars */
}

.Sidebar {
  height: 100vh; /* Ensure full height for the sidebar */
  width: 20%;
  background-color: #2f4050;
  position: sticky; /* Enables sticky positioning */
  top: 0; /* Sticks to the top of the viewport */
}

.Content {
  width: 80%;
  height: 100vh; /* Full height for scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: left;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarItem {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .SidebarItem:hover {
  cursor: pointer;
  background-color: #293545;
}

.SidebarList #active {
  background-color: #293545;
}

.SidebarItem #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarItem #title {
  flex: 70%;
}
