.App {
  width: 100vw;
  display: flex;
  overflow: hidden; /* Prevent unnecessary scrollbars */
}

.Sidebar {
  height: 100vh; /* Ensure full height for the sidebar */
  width: 20%;
  background-color: #2f4050;
  position: sticky; /* Enables sticky positioning */
  top: 0; /* Sticks to the top of the viewport */
}

.Content {
  width: 80%;
  height: 100vh; /* Full height for scrolling */
  overflow-y: auto; /* Enables vertical scrolling */
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: left;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarItem {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .SidebarItem:hover {
  cursor: pointer;
  background-color: #293545;
}

.SidebarList #active {
  background-color: #293545;
}

.SidebarItem #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SidebarItem #title {
  flex: 70%;
}

/* Schedule form */
.scheduleForm {
  border: solid #999999 1px;
  padding: 10px;
  border-radius: 1%;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scheduleContainer {
  width: fit-content;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: bottom;

  justify-content: center;
  margin-bottom: 10px;
}

.scheduleContainer .label {
  flex: 10%;
  min-width: 60px;
  display: grid;
  place-items: left;
  padding: 5px;
}

.timeRangeContainer {
  flex: 80%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.timeRange {
  padding: 5px;
}

.timeRange input {
  margin-right: 3px;
  width: auto;
}

.btnAddRange {
  flex: 10%;
  height: 30px;
  margin-top: 5px;
}

.timeZoneInput {
  margin-bottom: 10px;
}

.timeZoneInput input {
  margin-bottom: 10px;
}

.iconButton {
  color: green;
  padding: 5px;
  font-size: 27px;
}
